/*Login*/
.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('https://th.bing.com/th/id/OIP.ZZsn6lD6PCjocBzx1tuu1QHaEo?rs=1&pid=ImgDetMain'); */
    background-size: cover;
    background-repeat: no-repeat;
}
.login::before {
    content: "";
    background: url('https://th.bing.com/th/id/OIP.ZZsn6lD6PCjocBzx1tuu1QHaEo?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    z-index: -1;
  }
  .login::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
  }  
.login-box{
    width: 360px;
    border-radius: 5px;
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: start;
    padding:20px;
    gap: 10px;
}
.login-box .header{
    width: 100%;
    justify-content: center;
    align-self: center;
    display: flex;
    margin-bottom: 10px;
}
.header span{
    font-weight: 600;
    font-size:18px;
    font-family: sans-serif;
    }
.login-box .item{
    display: flex;
    padding: 5px;
    width: 100%;
    gap: 5px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
    font-weight: 500;
}
.login-box .item input{
    width: 100%;
    background: none;
    outline: none;
    border: none;
}
.login-btn{
    display: block;
    width: 100%;
    background-color: rgb(168, 50, 50);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    font-family: sans-serif;
}

@media only screen and (max-width:436px) {
    .login-box{
        width: 70%;
    }
}

/*profile*/
.profile{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.profile .left{
    background-color: rgb(255, 236, 236);

    flex: 1;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    padding-top: 30px;
    gap: 0;
}
.left div{
    cursor: pointer;
    gap: 20px;
    display: flex;
    width: 90%;
    justify-content: start;
    padding: 15px;
    border-radius: 10px;
}
.pro-sec:hover{
    background-color: white;
}
.profile .right{
    background-color: rgb(255, 255, 255);
    flex: 4;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

@media only screen and (max-width:600px) {
    .profile .left{
        
    }
    
}