.orders{
    height: 100vh;
    padding: 10px;
    width: 100%;
    /* background-color: gray; */
}
.order-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
    
}
.order-item-box{
    width: 100%;
}
.order-detail-box{
    display: flex;
    justify-content: space-between;
}
.all-item-detail{
    display: flex;
    justify-content: space-between;

}