.dishes{
    width: 300px;
    margin: 20px;
    border: 1px;
    border-radius: 10px;
    padding: 20px;
    /* background-color: green; */
    box-shadow: 0.2px 0.9px 4px rgb(190, 190, 190);
}
.dishes img{
    width: 100%;
    height: 180px;
    background-color: orange;
    border-radius: 10px;
}
.content{
    height: 50%;
    width: 100%;
}
.content div{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin:10px 0;
    gap: 20px;
}
.content h3{
    color: black;
    margin: 0;
}
.rating{
    color: green;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
.star-icon{
    font-size: 20px;
}
.price{
    color: orange;
    font-weight: bold;
}
.content div p{
    font-size: 15px;
    margin: 0;
}
.order{
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(255, 166, 0);
    border: none;
    color: white;
    border-radius: 5px;
    float: right;
}
.order:hover{
    background-color: rgb(231, 143, 3);
}

@media only screen and (max-width:300px){
    /* .s-left img{
        height: 200px;
        width: 150px;

    }
    .s2-down{
        justify-content: center;
        align-items: center;
    } */
    .dishes{
        width: 500px;
        background-color: green;
    }
    .dishes img{

    }
    .dishes .content{

    }
    .content div{
        margin-bottom: 2px;

    }

    .content h3{
        font-size: 13px;
    }
    .content .rating{
        font-size: 12px;
    }
    .content div p{
        font-size: 10px;
    }
    .content .price{
        font-size: 15px;
    }
    .order{
        padding: 5px;
        font-size: 10px;
    }

}